html{
    --main-bg-color: #1d1f1e;
  
    --main-font-color: #fbfdfd;
  
    --second-color: #ff4a57;
  }
  
*{
    box-sizing: border-box;
   
    margin: 0 0;
    padding: 0 0;
  
    font-family: 'Rubik', sans-serif;
    text-shadow: 4px 4px 2px #0000;
  }
  

body{
    flex-direction: column;

    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    width: auto;
    height: auto;
}


.galeria{
    flex-direction: row;
    border: solid var(--second-color) 5px;
    border-radius: 20px;
}

.kolumna{
    flex-direction: column;
}

h1{
    font-size: 70px;
    padding: 10px;
}

img{
    height: 250px;
    width: 500px;
    max-height: 25vh;
    max-width: 50vh;
    margin: 20px;
}

img:hover{
    transform: scale(1.1);
}

footer{
    padding: 10px;
    font-size: 20px;
  }

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}