html {
    --main-bg-color: #1d1f1e;
    --main-font-color: #fbfdfd;
    --second-color: #ff4a57;
}

* {
    box-sizing: border-box;
    margin: 0 0;
    padding: 0 0;
    font-family: 'Rubik', sans-serif;
    text-shadow: 4px 4px 2px #0000;
}

body {
    flex-direction: column;
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    width: 100vw;
    height: 100vh;
}

.galeria {
    flex-direction: row;
    border: solid var(--second-color) 5px;
    border-radius: 20px;
}

.kolumna {
    flex-direction: column;
}

h1 {
    font-size: 70px;
    padding: 10px;
}

img {
    border: 2px solid var(--main-font-color);
    border-radius: 10px;
    height: 75px;
    width: 150px;
    max-height: 25vh;
    max-width: 50vh;
    margin: 30px;
    transition: all .2s ease-in-out;
}

img:hover {
    transform: scale(7);
}

footer {
    padding: 10px;
    font-size: 20px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}